*{
    box-sizing: border-box;
}

body {
    font-family: "Avenir Next";
  }
  
li {
    list-style: none;
  }
.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.contact_form{
    padding: 100px;
}
input {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 15px 80px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact_submit{
    background-color: #3A2770;
    color: #dee7ec;
    float:left;
}
